@use '../../_variables-colors' as *;

.form_container {
    max-width: 415px;
    width: 30dvw;
    height: 65dvh;
    max-height: 730px;

    h2 {
        margin-block: 28px;
        display: flex;
        align-items: center;
        gap: 16px;

        svg {
            width: 40px;
            height: 40px;
            background: $primary;
            padding: 5px;
            border-radius: 14px;
            color: $white;
        }

    }

    .introduction {
        color: $gray-text;
    }

    form {
        margin-top: 45px;

        input,
        button {
            margin-bottom: 32px;
            width: 100%;
        }

        .input_row {
            display: flex;
            justify-items: center;

            input {
                width: 80%;

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .form_container {
        width: 100%;
    }
}