@use '../../_variables-colors' as *;

.form_container {
    max-width: 415px;
    width: 30dvw;
    height: 65dvh;
    max-height: 730px;

    form {
        margin-top: 45px;

        input,
        button {
            margin-bottom: 32px;
            width: 100%;
        }

        .input_row {
            display: flex;
            justify-items: center;

            input {
                width: 80%;

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .form_container {
       width: 100%;
    }
}