@use '../../_variables-colors' as *;

.spinner {
    height: attr(data-size px);
    width: attr(data-size px);
    border: 4px solid $primary;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}