@use '../../_variables-colors' as *;

.container {
    background: rgba($white,.85);
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    border-radius: 16px;
    max-width: 1100px;
    width: 80dvw;
    min-height: 65dvh;
    padding-block: 24px;


    &.step1 {
        grid-template-areas: "title title" "form resume";
    }

    &.one-column{
        display: flex;
        flex-direction: column;


    }
}

@media screen and (max-width:1010px) {
    .container { 
        margin: 0;
        padding: 0;
        row-gap: 32px;
        &.step1 {
            grid-template-areas: "title" "resume" "form";
        }

    }
}