$primary : #EF6824;
$orange-200: #FDEEE6;
$white: #FFFFFF;
$off-white : #E8EBF1;
$black : #353535;
$black-text: #253058;
$gray-text : #7C87AA;
$gray-700 : #E8EBF1;
$gray-500 : #F8F9FB;
$gray-400: #7C87AA;
$gray-300: #DDEBF5;
