.main{
    background: url('../../public/background/bg_forms.jpg');
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waitingText{
    margin-block: 40px;
}